{% set nameEntity = name|capitalize %}
var {{ name }}DB = require('../db/{{ name }}');

exports.create{{ nameEntity }} = async {{ name }}Data => {
    
    //logic
    {{ name }}Data.active = true;
    return await {{ name }}DB.save{{ nameEntity }}( {{ name }}Data );
};

exports.getAll = async () => {
    
    //logic
    return await {{ name }}DB.getAll();
};

exports.removeActive = async ( {{ name }}Id ) => {
   
    return await {{ name }}DB.removeActive( {{ name }}Id );
};


exports.get{{ nameEntity }} = async {{ name }}Id => await {{ name }}DB.get{{ nameEntity }}( {{ name }}Id );
exports.getAll = async () => await {{ name }}DB.getAll();
exports.removeActive = async {{ name }}Id => await {{ name }}DB.removeActive( {{ name }}Id );