{% set nameEntity = name|capitalize %}

var db_tools = require('../tools/db_tool');
var mongoose = require('mongoose');

// database connect
var db = db_tools.DBConnectMongoose()
    .catch(err => console.log(err));

// Create a Mongoose schema
var {{ nameEntity }}Schema = new mongoose.Schema({

    {% for field in fields %}
        {{ field.name }}: { type: {{ field.type }}, default: null } {% if not loop.last %},{% endif %}
        
    {% endfor %}
});

// Register the schema
var {{ nameEntity }} = mongoose.model( '{{ nameEntity }}', {{ nameEntity }}Schema );

exports.{{ nameEntity }} = {{ nameEntity }};
exports.save{{ nameEntity }} = async {{ name }}Data => await new {{ nameEntity }}( {{ name }}Data ).save();
exports.get{{ nameEntity }} = async {{ name }}Id => await {{ nameEntity }}.findOne({_id: {{ name }}Id, active: true });
exports.getAll = async () => await {{ nameEntity }}.find({active:true});
exports.removeActive = async ( {{ name }}Id ) => {

    const {{ name }} = await {{ nameEntity }}.findOne({_id: {{ name }}Id});
    {{ name }}.active = false;
    {{ name }}.save();
    return {{ name }};
};