
{% if entities %}

    var auth = require('./../middleware/auth');
    {% for entity in entities %}
        var {{ entity }} = require( './{{ entity }}' );
    {% endfor %}

    exports.assignRoutes = function (app) {

        //POST
        {% for entity in entities %}
            {% set nameEntity = entity|capitalize %}
            app.post( '/{{ entity }}', [ auth, {{ entity }}.create{{ nameEntity }} ] );
        {% endfor %}

        //PUT
        {% for entity in entities %}
            {% set nameEntity = entity|capitalize %}
            app.put( '/{{ entity }}/:{{ entity }}Id', [ auth, {{ entity }}.get{{ nameEntity }} ] );
            app.put( '/{{ entity }}/remove/:{{ entity }}Id', [ auth, {{ entity }}.removeActive ] );
        {% endfor %}

        //GET
        {% for entity in entities %}
            {% set nameEntity = entity|capitalize %}
            app.get( '/{{ entity }}/all', [ auth, {{ entity }}.getAll ] );
        {% endfor %}
    }

{% endif %}