{% set nameEntity = name|capitalize %}
var {{ name }}Domain = require('../domain/{{ name }}');
var useragent = require('express-useragent');
var md5 = require('md5');

exports.create{{ nameEntity }} = async (req, res, next) => {

    var {{ name }}Data = req.body;
    var ua = useragent.parse( req.headers['user-agent'] );
    var hash = md5( ua.source );

    try {

        let {{ name }} = await  {{ name }}Domain.create{{ nameEntity }}( {{ name }}Data );
        console.log( '{{ name }} save ' + {{ name }}._id , 'hash', hash );
        res.send( {{ name }} );

    } catch( err ){
        res.status( 400 ).send( err );
    }
}

exports.get{{ nameEntity }} = async (req, res, next) => {

    var {{ name }}Id = req.params.{{ name }}Id;
    var {{ name }}Data = req.body;
    var ua = useragent.parse( req.headers['user-agent'] );

    try {

        let {{ name }} = await {{ name }}Domain.get{{ nameEntity }}( {{ name }}Id );
        res.send( {{ name }} );

    } catch( err ){
        res.status( 400 ).send( err );
    }
}

exports.getAll = async (req, res, next) => {
    
    var ua = useragent.parse( req.headers['user-agent'] );

    try {

        let {{ name }}s = await {{ name }}Domain.getAll();
        res.send( {{ name }}s );

    } catch( err ){
        
        res.status( 400 ).send( err );
    }
}

exports.removeActive = async (req, res, next) => {

    var ua = useragent.parse( req.headers['user-agent'] );

    try {

        let {{ name }} = await {{ name }}Domain.removeActive( req.params.{{ name }}Id );
        res.send( {{ name }} );
 
    } catch( err ){
        
        res.status( 400 ).send( err );
    }
}